html {  
	box-sizing: border-box;   
	font-size: 62.5%;
}
*, *::before, *::after {  
	box-sizing: inherit;
	text-decoration: none;
	margin: 0;  
	padding: 0;
}
body {
	font-size: 1.6rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80vw;
}
:root {
  --tan: #e6e2d3;
  --traffic-white: #f0f0f0;
  --yellow-green: #4caf50;
  --vermillion-red: #c94c4c;
  --blue: #008cba;
}


.input {
  border: 1px solid var(--traffic-white);
  border-radius: 5px;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
}

.submit__btn {
  height: 3rem;
  font-size: 2rem;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  padding: 0 .5rem;
  cursor: pointer;
}


.todo__container {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--tan);
  margin: 2rem 0;
  padding: 1rem;
}


.todo__item--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tan);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

.todo__item {
  text-align: center;
  font-size: 2rem;
  width: 75%;
  cursor: pointer;
}

.todo__default-msg {
  text-align: center;
  color: grey;
}
.--completed {
  text-decoration: line-through;
  color: grey;
}

.edit__btn, .delete__btn {
  width: 3rem;
  height: auto;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

path {
  fill: white;
}

.input--edit {
  border: 1px solid var(--traffic-white);
  border-radius: 5px;
  height: 3rem;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;

}

.edit__btn {
  background-color: var(--blue);
}
.delete__btn {
  background-color: var(--vermillion-red);
}

@media only screen and (max-width: 800px) {
  .submit__btn {
    margin: 1rem 0;
    width: 100%;
  }
}